/* main-css*/
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}
.subscribe-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0056b3;
}

header {
  margin-top: 10px;
  margin-bottom: 15px;
}

header h1 {
  color: #333333;
}
.footer-widget {
  flex: 1;
  margin: 0 10px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
