/* main-css*/
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}
.subscribe-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0056b3;
}

header {
  margin-top: 10px;
  margin-bottom: 15px;
}

header h1 {
  color: #333333;
}
